
@font-face { font-family: "PPSIGFlow"; src: url("PPSIGFlow-Regular.otf") format("opentype"); font-weight: 400; }
@font-face { font-family: "PPSIGFlow"; src: url("PPSIGFlow-SemiBold.otf") format("opentype"); font-weight: 600; }
@font-face { font-family: "PPSIGFlow"; src: url("PPSIGFlow-Bold.otf") format("opentype"); font-weight: 700; }

h1, .stMarkdown h1 { font-family: "PPSIGFlow", sans-serif !important; font-weight:700 !important; font-size:60px !important; }
h2, .stMarkdown h2 { font-family:"PPSIGFlow", sans-serif !important; font-weight:600 !important; font-size:40px !important; }
h3, .stMarkdown h3 { font-family:"PPSIGFlow", sans-serif !important; font-weight:600 !important; font-size:28px !important; }
h4, .stMarkdown h4 { font-family:"PPSIGFlow", sans-serif !important; font-weight:400 !important; font-size:22px !important; }

p, .stMarkdown p, body { font-family:"PPSIGFlow", sans-serif !important; font-weight:400 !important; font-size:18px !important; }
